.col-3.col-sm-3
  .image{ style: "margin-top: 20px"}
    - if @subject.logo.attached?
      = link_to image_tag(@subject.logo.variant(resize: '400x400^'), 
                          alt: @subject.title, 
                          class: 'img-thumbnail'), 
                subject_path(@subject.id), target: '_blank'
    - else
      %p No images for this work
.col-6.col-sm-4{:style => "padding-right: 10%;"}
  %p
    .label Description :
    .description.well= @subject.description.html_safe
  - if @subject.restricted
    %p.restricted= "restricted"
  - if @subject.private
    %p.private= "private"
  - if !current_user.nil?
    - if @subject.published_at.nil?
      %p{style: "color: red;"} unpublished
    - else
      %p{style: "color: green;"} published
