- color = subject_color(subject)
%td
  = link_to subject.title, 
            subject_path(subject.id), 
            style: "color: #{color}"
- if subject.logo.attached? 
  %td.center= image_tag subject.logo.variant(resize: "25x25")
-else
  %td= ""
%td= subject.description
- if mode == "index"
  %td.center= !subject.category.nil? ? subject.category.name : ""
- if mode != "subjects"
  %td.center= !subject.root? ? subject.parent.title : "-aucun-"
- else
  %td.center= subject.parent_id != subjects.first.parent_id ? subject.parent.title : "="
%td.center
  - if administrator?
    = subject.articles.count
    |
    = children_articles_count(subject)
  - else
    = published_own_articles_count(subject)
    |
    = published_children_articles_count(subject)
- if administrator?
  %td.center
    = render partial: "subjects/form/form_links", 
              locals: { subject: subject, title: "Edit" }
    .butt= link_to t('edit'), 
                    edit_subject_path(subject), 
                    { class: "btn btn-outline-warning btn-xs",
                      "data-toggle": "modal", "data-target": ".dialog_action_container",
                      remote: true }
    .butt= link_to t('delete'), 
                      subject, 
                      method: :delete, 
                      data: { confirm: t('delete?') }, 
                      class: "btn btn-outline-danger btn-xs"

