- width_actions = user_signed_in? ? "220px" : "50px"
- spsct = 0
- subjects_count = 0
- if administrator?
  - subjects_count = subjects.count
  - if mode != "category"
    .badge.badge-primary= "Sujets total: #{subjects_count}"
  - if subjects_count != 0
    .badge.badge-warning= "Articles total: #{subjects_articles_total(subjects)}"
- else
  - spsct = subjects_published_subjects_children_count(subjects)
  - if mode != "category"
    .badge.badge-primary= "Sujets publiés total: #{spsct}"
  - if spsct != 0
    .badge.badge-warning= "Articles publiés total: #{published_subjects_children_articles_count(subjects)}"
- if (spsct != 0) || (subjects_count != 0)
  .message
    %p Dans la colonne "Articles", le premier nombre correspond au nombre d'articles du sujet lui même, le second correspond au total des articles de ses sujets enfants.
    - if administrator?
      %p Le titre des sujets est coloré en vert lorsqu'ils sont publiés et en rouge dans le cas contraire. Ils sont en orange lorsque ils ne sont pas publiables du fait d'un de leur parent non publié.
  %table
    %thead
      %tr.table-title
        %th Titres
        %th Logos
        %th Descriptions
        - if mode == "index"
          %th= "Catégorie"
        %th= "Sujet parent"
        %th.center Articles
        - if administrator?
          %th.center{width: "#{width_actions}"} Actions
    %tbody
      - for subject in subjects
        %tr.index-column{id: "subject_#{subject.id}_row"}
          = render partial: "subjects/show/index_table_row", locals: {subject: subject, subjects: subjects, mode: mode}
%br
%br
