.col-3.col.sm-2
  - if user_signed_in?
    - if current_user.has_role? :admin
      .butt
        = button_to 'Créer un article lié à ce sujet', 
                    new_subject_article_path(subject_id: @subject.id),
                    { method: :get, class: "btn btn-sm btn-primary",
                    remote: true,
                    "data-toggle": "modal", "data-target": ".dialog_action_article" }
        = button_to 'Créer un sujet enfant', 
                    new_subject_child_category_path(parent_id: @subject.id, 
                                                    category_id: @subject.category_id),
                    { method: :get, class: "btn btn-sm btn-primary",
                    remote: true,
                    "data-toggle": "modal", "data-target": ".dialog_action_container" }
        = button_to 'Éditer le sujet', edit_subject_path(@subject), 
                    { remote: true,
                    "data-toggle": "modal", "data-target": ".dialog_action_container",
                    method: :get, class: "btn btn-sm btn-warning" }
        = button_to 'Supprimer le sujet', @subject, 
                    { method: :delete, data: { confirm: 'êtes vous sûre ?' },
                    remote: true, 
                    class: "btn btn-sm btn-danger" }
