.render
  - if status == "edit"
    = object.title
    .badge.badge-warning Sujet Edition
  - elsif status == "new"
    = object                          # object is from @subjects
    .badge.badge-danger Création
  - elsif status == "show"
    = object.title                    # object is from @subject
    .badge.badge-secondary Sujet
  - elsif status == "index"
    = "Sujets"
    .badge.badge-dark= "Index #{object.all.count}"
  - elsif status == "index_category"
    = object.name                     # object is from @category
    .badge.badge-dark Catégorie
    - if user_signed_in?
      = "Sujets"
      .badge.badge-dark= "Index #{object.subjects.count}"
    - else
      = "Sujets publiés"
      .badge.badge-dark= "Index #{category_published_subjects_total(object)}"
