= paginate articles, remote: true, turbolinks: false, window: 2
= page_entries_info articles
= link_to "update view", articles_path(page: articles.current_page), 
          remote: true, id: "update_index_view", hidden: true
