.modal-header
  %h5.modal-title
    = t("new_role")
  %button{type: "button", class: "close", 
          "data-dismiss": "modal", "aria-label": "Close"}
    %span{"aria-hidden": "true"}
= simple_form_for user, url: admin_create_user_role_path(user.id), 
                        method: :post, remote: true do |u|
  .modal-body
    = simple_fields_for :roles do |r|
      .col-4= r.input :name, label: "Role", as: :select, 
        collection: Role.distinct.pluck(:name).collect{ |name| [name, name] }
      .col-4
        = r.input :resource_type, label: "Type", as: :select,
          collection: ['Category', 'Subject', 'Article']
      .col-4
        = r.input :resource_id, label: "Name", as: :select,
          id: 'resource_name'
  .modal-footer
    .actions
      .butt= u.button :submit, t('create_role', username: user.username) ,class: "btn-success btn-sm"
      = render partial: "layouts/admin/cancel"
