.card.mb-3{style: "background-color: #090909;", id: "user_#{user.id}"}
  - if status == "edit"
    - color = "#111"
    - if user == current_user
      - color = "#191" 
    .card-title{style: "background-color: #{color}; padding: 5px;"}
      %b= user.username
      = " (#{user.second_name} #{user.familly_name})"
      .butt= link_to t("delete_account"), admin_destroy_user_path(user), 
        data: { confirm: "Voulez-vous clore le compte de #{user.username} ?" },
        method: :delete, class: "btn btn-sm btn-danger", remote: true
      .butt= link_to t("new_user_role"), admin_new_user_role_path(user.id),
        class: "btn btn-sm btn-primary",
        method: :get, remote: true
  %br
  - if user.roles.empty?
    .card-body= "Nothing"
  -else
    .card-body
      = render partial: "users/profil/user_roles", 
              locals: { user: user, status: "edit" }
