- if current_user.has_role? :admin
  //-- show list of users and each roles list --//
  //-- You can add role for a user, or delete one --//
  #Users_Roles_list
    = render partial: "users/profil/admin/roles"
