.form-row
  .col-4= f.input :username, required: true
  .col-4= f.input :familly_name
  .col-4= f.input :second_name
= f.input :email, required: true, autofocus: true
- if devise_mapping.confirmable? && resource.pending_reconfirmation?
  %p "En attente de confirmation pour: #{ resource.unconfirmed_email }" 
= f.input :current_password, required: false

.row
  .col-sm-2
    %a.btn.btn-sm.btn-primary{'data-toggle': "collapse", href: '#change_password', 
      role: 'button', 'aria-expanded': "false", 'aria-controls': "change_password"}
      = t("change_password")
  .col-10
    #change_password.collapse
      = f.input :password, autocomplete: "off", required: false
      = f.input :password_confirmation, required: true
