.modal-header
  %h2.modal-title
    = render partial: "users/title", locals: { user: resource, status: "new" }
  %button{ class: "close", "data-dismiss": "modal", "aria-label": "close"}
    %span{ "aria-hidden": true } &times;
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .modal-body.form-inputs
    = f.error_notification
    = f.input :username, required: true, autofocus: true
    = f.input :email, required: true
    = f.input :familly_name, required: false,
      label: "Nom de famille"
    = f.input :second_name, required: false, 
      label: "Prénom"
    = f.input :password, required: true, 
      hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true
  .modal-footer.form-actions
    .butt= f.button :submit, "S'enregistrer", class: "btn-sm btn-primary"
