- content_for :title_page do
  = render partial: "users/title", locals: { user: resource, 
                                            status: "edit" }
= simple_form_for(resource, as: resource_name, 
                  url: registration_path(resource_name), 
                  html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    %nav
      .nav.nav-tabs#profile-tab{role: "tablist"}
        %a.nav-item.nav-link.active#iddentity-tab{href: "#iddentity", 
          role: "tab", "aria-controls": "iddentity",
          "aria-selected": "true", "data-toggle": "tab"}
          = t("identities")
        %a.nav-item.nav-link#roles-tab{href: "#roles", role: "tab", 
          "aria-controls": "roles", "aria-selected": "false", "data-toggle": "tab"}
          = t("roles")
    .tab-content#profile-tabContent
      .tab-pane.fade.show.active#iddentity{role: "tabpanel", "aria-labelledby": "iddentity-tab"}
        = render partial: "devise/registrations/form_iddentity", locals: { f: f }
      .tab-pane.fade#roles{role: "tabpanel", "aria-labelledby": "roles-tab"}
        = render partial: "devise/registrations/form_roles"
  .form-actions
    .butt= f.button :submit, t("update"), class: "btn btn-sm btn-warning"
#links
  .butt= button_to t("close_account"), registration_path(resource_name), 
            data: { confirm: "Êtes vous sure ?" }, method: :delete,
            class: "btn btn-sm btn-danger"
