- content_for :title_page do
  = render partial: "users/title", locals: { user: resource,
                                              status: "new" }
.registration
  = simple_form_for(resource, as: resource_name, 
                    url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :username, required: true, autofocus: true
      = f.input :email, required: true
      = f.input :familly_name, required: false,
        label: "Nom de famille"
      = f.input :second_name, required: false, 
        label: "Prénom"
      = f.input :password, required: true, 
        hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
      = f.input :password_confirmation, required: true
    .form-actions
      .butt= f.button :submit, "S'enregistrer", class: "btn-sm btn-primary"
#links
  .butt= button_to "Annuler", :back, method: "get", class: "btn btn-sm btn-secondary"
