- if controller_name != 'sessions'
  .butt= button_to "Connexion", new_session_path(resource_name), 
    method: "get", class: "btn btn-sm btn-success"
- if devise_mapping.registerable? && controller_name != 'registrations'
  .butt= button_to "S'enregistrer", new_registration_path(resource_name), 
    method: "get", class: "btn btn-sm btn-primary"
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .butt= button_to "Mot de passe oublié", new_password_path(resource_name),
          method: "get", class: "btn btn-sm btn-warning"
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  .butt= button_to "Envoyer une confirmation", new_confirmation_path(resource_name),
          method: "get", class: "btn btn-sm btn-warning"
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  .butt= button_to "Débloquer", new_unlock_path(resource_name), 
          method: "get", class: "btn btn-sm btn-warning"
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    .butt= button_to "Connexion via #{OmniAuth::Utils.camelize(provider)}", 
      omniauth_authorize_path(resource_name, provider), 
      method: "get", class: "btn btn-sm btn-success" 
.butt= button_to "Annuler", :back, method: "get", class: "btn btn-sm btn-secondary"
 
