
- action = url_for().split("/").last
- btnStyle = ( action == "categories") ? "btn imput-xs btn-outline-warning" : "btn btn-sm btn-warning"
- if name == "Edit"
  .butt
    - if category.published_at.nil?
      = link_to "Publier", online_catregory_path(online: "yes", 
                            k: controller_name, a: action_name, 
                            id: category.id, name: name),
                            remote: true, method: :post, type: "button",
                            class: btnStyle,
                            data: { disable_with: "Publicate category..." }
    - else
      = link_to "Ne plus publier", online_category_path(online: "no",
                                  k: controller_name, a: action_name, 
                                  id: category.id, name: name), 
                            remote: true, method: :post, type: "button",
                            class: btnStyle,
                            data: { disable_with: "Un-publicate category..." }
- else
  = submit_tag "Create and publish", name: "create_and_publish",
                      class: "btn btn-sm btn-primary",
                      data: { disable_with: "Creat+publish -ing category..." }
- if action != "categories"
  %button{class: "btn btn-secondary btn-sm", 
          "data-dismiss": "modal", "aria-hidden": "true"} Fermer
