.modal-header
  %h5.modal-title
    = @name =~ /Create.*/ ? "#{@name} category" : "#{@name}: \"#{@category.name}\""
  %button{type: "button", class: "close", 
          "data-dismiss": "modal", "aria-label": "Close"}
    %span{"aria-hidden": "true"}
= simple_form_for @category, html: {id: "action_form" }, 
  remote: true do |f|
  .modal-body
    - if @category.errors.any?
      #error_explanation
        %h2= pluralize(@category.errors.count, 
            "erreurs empêchent cette catégorie d'être sauvegardée:")
        %ul
          - @category.errors.full_messages.each do |message|
            %li= message
    .field
      = f.input :name
    .field
      = f.input :description
    .field
      = f.input :image
  .modal-footer
    .actions
      = f.button :submit, class: "btn-success btn-sm", 
                data: { disable_with: "Updating category..." }
      #publications
