= paginate subjects, remote: true, turbolinks: false, window: 2
= page_entries_info subjects
= link_to "update view", subjects_path(page: subjects.current_page), 
          remote: true, id: "update_index_view", hidden: true
