- content_for :title_page do
  = render partial: "articles/show/title", 
    locals: { article: @article, status: "show" }
.row
  .col-md-3
    - if @article.logo.attached?
      = image_tag @article.logo, class: "img-fluid"
  .col-md-3
    .metas
      %table
        %tbody
          %tr
            %td Catégorie
            %td.badge.badge-dark= @article.subject.category.name
          %tr
            %td Sujet
            %td.badge.badge-secondary= @article.subject.title
          %tr
            %td Rédacteur
            %td.badge.badge-warning= @article.user.username
      .badge.badge-primary= @article.created_at.strftime("%d/%m/%Y %H:%M %Z")
      .badge.badge-success= @article.updated_at.strftime("%d/%m/%Y %H:%M %Z")
      .interests
        %table
          %tbody
            %tr
              %td Tags
              %td
                - for tag in @article.interest_list do
                  .badge.badge-info= link_to tag, tag_path(tag)
  .col-md-6
    %h4= @article.title
    %p
      %strong= "Description:"
      %br
      = @article.description
.row
  .cold-md-12
    %p= sanitize @article.content
.row
  .actions
    - if user_signed_in?
      - if current_user.has_role? :admin || current_user.id == @article.user_id
        .butt= link_to t('edit'), edit_article_path(@article), 
                    method: "get", class: "btn btn-warning btn-sm",
                    remote: true
    = render partial: "layouts/admin/cancel"
