- content_for :title_page do
  = render partial: "articles/show/title", 
            locals: { article: @article, 
                      status: "edit" }
= render 'articles/form/form', article: @article 
