- content_for :title_page do
  = render partial: "articles/show/title", 
            locals: { article: selected_articles(@articles), 
                      status: "fresh_index" }
.row
  .card-columns
    - for article in selected_articles(@articles)
      -if !article.published_at.nil?
        .card.bg-dark
          - if article.logo.attached?
            = image_tag article.logo, class: "card-img-top"
          .card-body
            %b.card-title= link_to article.title, article
            .metas
              .badge.badge-primary
                = "Création #{article.created_at.strftime("%d/%m/%Y %H:%M %Z")}"
              %br
              .badge.badge-success
                = "Révision #{article.updated_at.strftime("%d/%m/%Y %H:%M %Z")}"
            %p.card-text= article.description
            - if user_signed_in?
              .card-footer
                .butt= button_to "Editer", edit_article_path(article.id),
                          method: :get, class: "btn btn-sm btn-warning"
