- content_for :title_page do
  = render "articles/show/title", article: @articles, status: "index"
.row
  #table_liste_articles
    = render "articles/show/index_table", articles: @articles, mode: "index"
.row
  - if user_signed_in?
    // add condition to be able to add subject to category selected when @mode = "index_category"
    .butt= link_to t('new_article'), new_article_path,
            { class: "btn btn-primary btn-sm",
            "data-toggle": "modal", "data-target": ".dialog_action_container",
            remote: true }
  // add condition to be able to add subject to category selected when @mode = "index_category"
.row
  #pagination_articles
    = render 'articles/pagination/paginator', articles: @articles
.row
  #test
