.col-3.col-sm-3
  .image{ style: "margin-top: 20px"}
    - if @category.image.attached?
      = link_to image_tag(@category.image.variant(resize: '400x400^'), 
                          alt: @category.name, 
                          class: 'img-thumbnail'), 
                category_path(@category.id)
    - else
      %p No images for this work
.col-6.col-sm-4{:style => "padding-right: 10%;"}
  %p
    .label Description :
    .description.well= @category.description.html_safe
