%td= link_to category.name, category_path(category.id)
- if category.image.attached? 
  %td= image_tag category.image.variant(resize: "25x25") 
- else
  %td= ""
%td= category.description
%td.center
  - if administrator?
    = subjects_count(category)
  - else
    = publishable_subjects_count(category)
%td.center
  - if administrator?
    = total_articles(category)
  - else
    = publishable_articles_count(category)
- if administrator?
  %td.center
    .butt= link_to t('edit'), 
              edit_category_path(category),
              { class: "btn btn-outline-warning btn-xs",
                "data-toggle": "modal", "data-target": ".dialog_action_container",
                remote: true }
    .butt= link_to t('delete'), category,
            method: :delete, 
            data: { confirm: t('delete?') }, 
            class: "btn btn-outline-danger btn-xs"

