- width_actions = user_signed_in? ? "150px" : "50px"
%table.title
  %thead
    %tr
      %th Noms
      %th Image
      %th Descriptions
      %th Sujets
      %th Articles
      - if administrator?
        %th.center{width: "#{width_actions}"}= "Actions"
  %tbody
    - categories.each do |category|
      %tr.index-column{id: "category_#{category.id}_row"}
        = render partial: "categories/show/index_table_row", locals: {category: category}
