.col-3.col.sm-2
  - if user_signed_in?
    - if current_user.has_role? :admin
      .butt
        = button_to 'Créer un sujet lié', 
                    new_category_subject_path(@category),
                    { method: :get, class: "btn btn-sm btn-primary",
                    remote: true,
                    "data-toggle": "modal", "data-target": ".dialog_action_container" }
        = button_to 'Éditer la catégorie', edit_category_path(@category), 
                    { remote: true,
                    "data-toggle": "modal", "data-target": ".dialog_action_container",
                    method: :get, class: "btn btn-sm btn-warning" }
        = button_to 'Supprimer la catégorie', @category, 
                    { method: :delete, data: { confirm: 'êtes vous sûre ?' },
                    remote: true, 
                    class: "btn btn-sm btn-danger" }
