.render
  - if status == "show"
    = category.name
    .badge.badge-secondary= t('category')
  - elsif status == "edit"
    = category.name
    .badge.badge-warning= t('edit_category')
  - elsif status == "new"
    = category
    .badge.badge-danger= t('create_category')
  - elsif status == "index"
    = t("categories")
    .badge.badge-dark= "Index #{category.all.count}"
