.admin_creator
  = link_to t("create_category"), new_category_path,
            { class: "btn btn-sm btn-outline-info", 
            "data-toggle": "modal", "data-target": ".dialog_action_container",
            remote: true }
  = link_to t("create_subject"), new_subject_path, 
            { class: "btn btn-sm btn-outline-info", 
            "data-toggle": "modal", "data-target": ".dialog_action_container",
            remote: true }
  = link_to t("create_article"), new_article_path,
            { class: "btn btn-sm btn-outline-info", 
            "data-toggle": "modal", "data-target": ".dialog_action_container",
            remote: true }
