- action = url_for().split("/").last
.admin_accessor
  - if action != "categories"
    = link_to "liste des Catégories", categories_path, class: "btn btn-sm btn-outline-info"
  - if action != "subjects"
    = link_to "liste des Sujets", subjects_path, class: "btn btn-sm btn-outline-info"
  - if action != "articles"
    = link_to "liste des articles", articles_path, class: "btn btn-sm btn-outline-info"
