.render
  - if status == "profile"
    = user.username != "" ? user.username : "<--username-->"
    .badge.badge-primary Profile
  - if status == "edit"
    = user.username != "" ? user.username : "<--username--->"
    .badge.badge-danger Edit profile
  - if status == "new"
    = t('sign_in_user')
    .badge.badge-warning New profile
  - if status == "login"
    = t('session_connect')
    .badge.badge-warning= t('Connection')
