- content_for :title_page do
  = render partial: "users/title", locals: { user: @user, 
                                            status: "profile" }
%p
  %b Nom d'utilisateur:
  %br
  = @user.username
%p
  %b Nom de famille:
  %br
  = @user.familly_name
%p
  %b Prénom:
  %br
  = @user.second_name
%p
  %b Courriel:
  %br
  = @user.email
%p
  %b Droits d'accès:
  = render partial: "users/profil/user_roles", locals: { user: @user, status: "show" }
%br
.butt= button_to t("edit"), edit_user_registration_path,
                  method: "get", class: "btn btn-sm btn-warning"
