.row
  .col-md-4
    %p
      Bonjour
      - if user_signed_in?
        - if current_user.second_name != ""
          = current_user.second_name
        %p
          Vous êtes maintenant un utilisateur du site, c'est donc que probablement ce site vous intéresse. Tant mieux, j'espère que vous allez y trouver ce que vous cherchez et pourquoi pas y contribuer.
      - else
        %p
          Bienvenu sur mon petit site web
        %p
          Vous avez la possibilité de vous inscrire gratuitement sur ce site et pourquoi pas y participer et donner vôtre avis.
  .col-md-8
    .card-deck
      - Category.find_each do |category|
        .card
          - if category.image.attached?
            = link_to(image_tag(category.image, class: "card-img-top"), category_path(category))
          .card-body
            %b.card-title
              %h4= link_to category.name, category_path(category.id), method: "get"
              .counter
                - if administrator?
                  .badge.badge-primary
                    = "Sujets: #{category_subjects_total(category)}"
                  .badge.badge-success
                    = "Articles: #{category_articles_total(category)}"
                - else
                  .badge.badge-primary
                    = "Sujets publiés: #{category_publishable_subjects_total(category)}"
                  .badge.badge-success
                    = "Articles publiés: #{category_publishable_articles_total(category)}"
            %p.card-text= category.description
          .card-footer
            - if category.subjects.count != 0
              .butt= button_to "Voir les sujets", category_subjects_path(category.id), 
                        method: :get, class: "btn btn-success"
            - if administrator?
              .butt= link_to "Editer", edit_category_path(category.id),
                        method: :get, class: "btn btn-warning", remote: true
              .butt= link_to "Supprimer", category, method: :delete, class: "btn btn-danger",
                        remote: true, data: { confirm: t('delete?') }

