.card-body#roles_table
  %table
    %thead
      %tr
        %th Droit
        %th Ressoure Type
        %th Ressource Nom
        - if status == "edit"
          %th Action
    %tbody
      - for role in user.roles
        %tr
          %td
            = role.name
          %td
            - if !role.resource_type
              = "Tous"
            -else
              = role.resource_type
          %td
            - if !role.resource_id
              = "Tous"
            - else
              = resource_cname(role.resource_type, role.resource_id)
          - if status == "edit"
            %td
              .butt= link_to t("delete_user_role"), 
                  admin_destroy_user_role_path(user, role),
                  remote: true , method: :delete, 
                  class: "btn btn-sm btn-danger",
                  confirm: t("delete?")

