- width_actions = user_signed_in? ? "200px" : "50px"
= content_for :title_page do
  = render partial: "subjects/show/title", 
            locals: { object: @subject, 
                      status: "show" }
.row
  .col-md-3
    - if @subject.logo.attached?
      = image_tag @subject.logo, class: "img-fluid"
  .col-md-2
    .metas
      %b Catégorie liée
      %br
      = @subject.category.name
      %br
      %br
      %b Sujet parent
      %br
      = !@subject.parent_id.nil? ? @subject.parent.title : "-aucun-"
  .col-md-7
    %p
      %b Description:
      %br
      = @subject.description
.row.liste-articles
  - if administrator?
    %h4 Liste de ses articles
    %p.badge.badge-primary= "Articles: #{@subject.articles.count}"
    %p.badge.badge-success= "Descendants: #{children_articles_count(@subject)}"
    %p.badge.badge-warning= "Total: #{articles_total(@subject)}"
  - else
    %h4 Liste des articles publiés
    %p.badge.badge-primary= "Articles publiés: #{published_own_articles_count(@subject)}"
    %p.badge.badge-success= "Descedants publiés: #{published_children_articles_count(@subject)}"
    %p.badge.badge-warning= "Total publiés: #{published_articles_total(@subject)}"
  - if ( administrator? && articles_total(@subject) != 0 ) || ( !administrator? && published_articles_total(@subject) != 0 )
    = render partial: "articles/show/index_table", 
              locals: { articles: @subject.articles, 
                        mode: "subject" }
.row.sujets-enfants
  - if administrator?
    %h4 Liste des sujets descendants 
    - if @subject.children.count != 0
      = render partial: "subjects/show/index_table", 
                locals: { subjects: @subject.descendants, 
                          mode: "subjects" }
  - else
    %h4 Liste des sujets descendants publiés
    - if published_subject_children_count(@subject) != 0
      = render partial: "subjects/show/index_table",
                locals: { subjects: only_publishable_descendants(@subject),
                          mode: "subjects" }
    - else
      .badge.badge-warning= "Sous-sujets publiés total: #{published_subjects_children_count(@subject)}"
%hline
.actions
  - if administrator?
    .butt= link_to t('edit'), 
                      edit_subject_path(@subject), 
                      method: "get", 
                      class: "btn btn-warning",
                      remote: true
  = render partial: "layouts/admin/cancel"

