- content_for :title_page do
  = render partial: "subjects/show/title", 
            locals: { object: @subject, 
                      status: "edit" }
= render partial: 'subjects/form/form', object: @subject
