- content_for :title_page do
  = render partial: "subjects/show/title", 
            locals: { object: @mode != "index_category" ? @subjects : @category, 
                      status: @mode }
= render partial: "subjects/show/index_table", 
          locals: { subjects: @subjects, 
                    mode: @mode }
- if user_signed_in?
  // add condition to be able to add subject to category selected when @mode = "index_category"
  .butt= link_to t('new_subject'), new_subject_path,
          { class: "btn btn-primary btn-sm",
            "data-toggle": "modal", "data-target": ".dialog_action_container",
            remote: true }
// add condition to be able to add subject to category selected when @mode = "index_category"
.row
  #pagination_subjects
    = render 'subjects/pagination/paginator', subjects: @subjects
