.row
  %h1.title
    = link_to @article.title, article_path(@article)
    .badge.badge-primary Article
.row
  = render partial: 'articles/show/description', object: @article
  = render partial: 'articles/show/links', object: @article

