.row
  %h1.title
    = link_to @subject.title, subject_path(@subject)
    .badge.badge-primary Sujet
.row
  = render partial: 'subjects/show/description', object: @subject
  = render partial: 'subjects/show/links', object: @subject
