.row
  %h1.title
    = link_to @category.name, category_path(@category)
    .badge.badge-primary Catégorie
.row
  = render partial: 'categories/show/description', object: @category
  = render partial: 'categories/show/links', object: @category
