.row
  %h1.title
    = link_to title, category_path(resource)
    .badge.badge-primary= badge
.row
  = render partial: resource_partial_description, object: resource
  = render partial: resource_partial_links, object: resource

