.modal-header
  %h2.modal-title
    = render partial: "users/title", locals: { user: resource, status: "login" }
  %button{ class: "close", "data-dismiss": "modal", "aria-label": "close"}
    %span{ "aria-hidden": true } &times;
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .modal-body.form-inputs
    = f.input :username, required: false, autofocus: true
    = f.input :password, required: false
  .modal-footer.form-actions
    #connection
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .butt= f.button :submit, "Se connecter", id: "connect", class: "btn btn-sm btn-success"
    #confirmation
      .butt= link_to t('send_confirmation'), "#", id: 'send_email', class: "btn btn-sm btn-warning"
    #no_user_found
      %p No username with this name in  database 
