- content_for :title_page do
  = render partial: "users/title", 
          locals: { user: resource, status: "login" }
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :username, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    .butt= f.button :submit, "Se connecter", class: "btn btn-sm btn-success"
#links
  .butt= button_to "Annuler", :back, method: "get", class: "btn btn-sm btn-secondary"
