.col-3.col-sm-3
  .image{ style: "margin-top: 20px"}
    - if @article.logo.attached?
      = link_to image_tag(@article.logo.variant(resize: '400x400^'), 
                          alt: @article.title, 
                          class: 'img-fluid'), 
                article_path(@article.id), target: '_blank'
    - else
      %p No images for this article
.col-6.col-sm-4{:style => "padding-right: 10%;"}
  %p
    .label Description :
    .description.well= @article.description.html_safe
  - if @article.restricted
    %p.restricted= "restricted"
  - if @article.private
    %p.private= "private"
  .interests
    %table
      %tbody
        %tr
          %td Tags
          %td
            - for tag in @article.interest_list do
              .badge.badge-info= link_to tag, tag_path(tag)
  - if !current_user.nil?
    - if @article.published_at.nil?
      %p{style: "color: red;"} unpublished
    - else
      %p{style: "color: green;"} published

