- color = get_article_color(article)
- if administrator? || !article.published_at.nil?
  %td
    = link_to article.title, article_path(article.id), style: "color: #{color}"
  %td
    - if article.logo.attached?
      = image_tag article.logo.variant(resize: "50x25")
    - else
      = ""
  %td= article.description
  - if mode == "index"
    %td
      -if !article.subject.nil? 
        = link_to article.subject.title, subject_path(article.subject.id) 
      - else
        = ""
    %td
      - if !article.subject.category.nil?
        = link_to article.subject.category.name, category_path(article.subject.category.id)
      - else
        = ""
      - if administrator?
        %td.center
          = render partial: 'articles/form/form_links', 
                        locals: { article: article, title: "Edit", mode: "index" }
          .butt= button_to t('edit'), edit_article_path(article), 
                    method: "get", class: "btn btn-xs btn-outline-warning",
                    remote: true, 
                    "data-toggle": "modal", "data-target": ".dialog_action_article"
          .butt= button_to t('delete'), article, 
                    method: :delete, data: { confirm: 'Are you sure?' }, 
                    class: "btn btn-xs btn-outline-danger",
                    remote: true
