%div
  - width_actions = administrator? ? "220px" : "50px"
  - if administrator?
    %p.nb Les titres des articles sont colorés: en rouge lorsqu'ils ne sont pas publiés, en orange lorsqu'il ne le sont pas du fait d'un de son sujet n'étant pas publié et en vert dans le cas contraire.
  %table
    %thead
      %tr.table-title
        %th Titres
        %th Logos
        %th Descriptions
        - if mode == "index"
          %th= "Sujet Lié"
          %th= "Catégories"
        - if administrator?
          %th.center{width: "#{width_actions}"}= "Actions"
    %tbody{id: "table_index_body"}
      - for article in articles
        %tr.index-column{id: "article_#{article.id}_row"}
          = render partial: "articles/show/index_table_row", 
                  locals: { article: article, mode: mode }
