.col-3.col.sm-2
  - if user_signed_in?
    - if current_user.has_role? :admin
      .butt
        = button_to "Éditer l'article", edit_article_path(@article), 
                    { remote: true,
                    "data-toggle": "modal", "data-target": ".dialog_action_article",
                    method: :get, class: "btn btn-sm btn-warning" }
        = button_to "Supprimer l'article", @article, 
                    { method: :delete, data: { confirm: 'êtes vous sûre ?' },
                    remote: true, 
                    class: "btn btn-sm btn-danger" }

