.render
  - if status == "edit"
    = truncate article.title, length: 23
    .badge.badge-warning Article Edition
  - elsif status == "new"
    = t('article')
    .badge.badge-danger= t('create')
  - elsif status == "show"
    = truncate article.title, length: 23
    .badge.badge-secondary= t('article')
  - elsif status == "index"
    = t("articles")
    .badge.badge-dark= "Index #{article.count}" 
  - elsif status == "fresh_index"
    = t("last_publications")
    .badge.badge-success= "#{article.count} Nouveaux"
