.modal-header
  %h5.modal-title
    = @title == "Create" ? "#{@title} article" : "#{@title}: \"#{@article.title}\""
  %button{type: "button", class: "close", 
          "data-dismiss": "modal", "aria-label": "Close"}
    %span{"aria-hidden": "true"}
= simple_form_for @article, remote: true do |f|
  .modal-body
    - if @article.errors.any?
      #error_explanation
        %h3= pluralize(@article.errors.count, 
              "erreurs empêchent ce sujet d'être sauvegardé:")
        %ul
          - @article.errors.full_messages.each do |message|
            %li= message
    .field
      = f.input :title, label: "Titre" 
    .field
      = f.association :subject, label: "Sujet lié", 
                                  input_html: { disabled: @subject_disabled }
    .field
      = f.input :description, label: "Description"
    .field
      = f.input :content, as: :trix_editor, data: { coffee: :delicious }
    .field
      = f.input :interest_list, as: :tags, label: "Intérets"
    .field
      = f.input :logo, as: :image_preview, direct_upload: true
    - if title == "Edit"
      Créé par
      .badge.badge-success= article.user.username
  .modal-footer
    .actions
      = f.button :submit, class: "btn btn-sm btn-success",
                      data: { disable_with: "Updating subject..." }
      #publications
