- if (title == "Edit") 
  .butt
    - if article.published_at.nil?
      = link_to t("publish"), online_article_path(online: "yes", 
                            k: controller_name, a: action_name, 
                            id: article.id, title: title),
                    method: :post, class: "btn btn-sm btn-success",
                    remote: true,
                    data: { disable_with: "Publicate article..." }
    - else
      = link_to t("unpublish"), online_article_path(online: "no",
                                  k: controller_name, a: action_name, 
                                  id: article.id, title: title),
                method: :post, class: "btn btn-sm btn-warning",
                remote: true,
                data: { disable_with: "Un-publicate article..." }
- else
  = submit_tag "Create and publish", name: "create_and_publish",
                      class: "btn btn-sm btn-primary",
                      data: { disable_with: "Creat+publish -ing subject..." }
  %button{class: "btn btn-secondary btn-sm", 
          "data-dismiss": "modal", "aria-hidden": "true"} 
    = t("cancel")
