.modal-header
  %h5.modal-title
    = @title =~ /Create.*/ ? "#{@title} subject" : "#{@title}: \"#{@subject.title}\""
  %button{type: "button", class: "close", 
          "data-dismiss": "modal", "aria-label": "Close"}
    %span{"aria-hidden": "true"}
= simple_form_for @subject, html: { id: "action_form" }, remote: true do |f|
  .modal-body
    - if @subject.errors.any?
      #error_explanation
        %h3= pluralize(@subject.errors.count, 
              "erreurs empêchent ce sujet d'être sauvegardé:")
        %ul
          - @subject.errors.full_messages.each do |message|
            %li= message
    .field
      = f.input :title
    .field
      = f.association :category, label: "Catégorie liée", 
                                input_html: { onchange: 'getCategory();', 
                                              disabled: @cat_disabled }
    .field
      = select_tag(@subject, 
        option_groups_from_collection_for_select( Category.all, :subjects, 
                                                  :name, :id, :title ),
                    include_blank: "",
                    hidden: true, id: "grouped_subjects" )
      - if (@title == "Edit" || @title == "Create child")
        = f.association :parent, label: "Sujet parent", 
          collection: Subject.where("category_id = ? AND id != ?",
                                      @subject.category_id, @subject.id),
          input_html: { disabled: @parent_disabled }
      - else
        = f.input :parent_id, label: "Sujet parent",
          collection: Category.all, as: :grouped_select,
          group_method: :subjects,
          input_html: { disabled: @parent_disabled }
    .field
      = f.input :description
    .row
      .col-3
        .field
          = f.input :restricted
        .field
          = f.input :private
      .col-9
        .row
          .col-6.col-6
            .img_field
              - if @subject.logo.attached?
                = image_tag(@subject.medium_thumb)
          .col-6.col-6
            .img_metadata
              - if @subject.logo.attached?
                = @subject.logo.filename.to_s
                %br
                = "Width:  #{@subject.logo.metadata[:width]} px"
                %br
                = "Height: #{@subject.logo.metadata[:height]} px"
                %br
        .field
          = f.input :logo, direct_upload: true, label: false
  .modal-footer
    .actions
      = f.button :submit, class: "btn-success btn-sm",
                      data: { disable_with: "Updating subject..." }
      #publications
