- action = url_for().split("/").last
- btnStyle = ( action == "subjects") ? "btn imput-xs btn-outline-warning" : "btn btn-sm btn-warning"
- if title == "Edit"
  .butt
    - if subject.published_at.nil?
      = link_to t("publish"), online_subject_path(online: "yes", 
                            k: controller_name, a: action_name, 
                            id: subject.id, title: title),
                            remote: true, method: :post, type: "button",
                            class: btnStyle,
                            data: { disable_with: "Publicate subject..." }
    - else
      = link_to t("unpublish"), online_subject_path(online: "no",
                                  k: controller_name, a: action_name, 
                                  id: subject.id, title: title), 
                            remote: true, method: :post, type: "button",
                            class: btnStyle,
                            data: { disable_with: "Un-publicate subject..." }
- else
  = submit_tag "Create and publish", name: "create_and_publish",
                      class: "btn btn-sm btn-primary",
                      data: { disable_with: "Creat+publish -ing subject..." }
  - if action != "subjects"
    = render partial: "layouts/admin/cancel"
