@import "bootstrap"
@import "variables"
@import "trix"

body
  background-color: $body-color-bg
  color: $body-text-color
  h1
    color: $body-h1-color
  h2, h3
    color: $body-hx-color
  button
    color: $body-button-text-color

.header
  background-color: $header-color-bg
  left: 50px
  height: 140px
  .site_title
    width: 360px
    margin-left: 1%
    font-weight: bold
    #sentence
      font-size: small
      position: relative
      top: -20px
      float: right
  .title
    position: absolute
    top: 80px
    color: $header-title-color
    font-weight: bold
    display: inline-block
    height: 18px

.nav_header
  position: absolute
  background-color: $nav-header-color-bg
  width: 100%
  top: 102px
  left: 0px

.affix
  top: 0px
  width: 100%
  background-color: rgba(60,60,60,0.25)
  z-index: 1

.affix + .container-fluid
  padding-top: 50px

.dropdown-menu
  background-color: $menu_dropdown-color-bg
  input
    color: #2E2

.main_content
  margin-top: 2%
  margin-left: 10px

.title_head
  height: 1em

div
  #error_explanation
    margin-bottom: 20px
    color: red
    h3
      color: red

.badge
  font-size: small

.render
  position: relative
  top: -20px

.log_bar
  font-size: small
  position: absolute
  top: 10px
  right: 20px

.username
  color: green

.guest
  color: blue 

.notifications
  position: absolute
  top: 20px
  left: 420px
  padding: 2px 5px 2px 5px
  font-size: 70%

%alert-share
  border: 1px solid black
  background-color: black
  border-radius: 8px

.alert
  @extend %alert-share
  
.alert-success
  @extend %alert-share
  color: $alert-success-color
  border-color: $alert-success-color

.alert-infos
  @extend %alert-share
  color: $alert-infos-color
  border-color: $alert-infos-color

.alert-error
  @extend %alert-share
  color: $alert-error-color
  border-color: $alert-error-color

.alert-warning
  @extend %alert-share
  color: $alert-warning-color
  border-color: $alert-warning-color

.dialog_action_container
  color: #DAD9D9

.modal-header
  background-color: $modal-action-header-bg
  width: 800px;

.modal-body
  background-color: $modal-action-body-bg
  width: 800px;

.modal-footer
  background-color: $modal-action-footer-bg
  width: 800px;

.butt
  display: inline-block
  form input, a
    display: inline-block
    font-size: 80%
    padding: 1px 8px 0px 8px

trix-toolbar .trix-button-group button
  background-color: #0B4743

.admin_accessor, .admin_creator
  a
    display: block
    margin: 2px

.actions #publications
  display: inline-block

#connection
  fieldset
    display: inline-block
