@import "variables"

table
  width: 100%
  font-size: small

.table-title
  background-color: #1c3a6b
  margin-bottom: 5px
  th
    padding-left: 5px

.index-row
  td
    padding-left: 5px
    padding-top: 10px

.field
  margin-bottom: 20px
  input, textarea
    display: block 
    width: 80%
.field_publication
  display: inline-block

.interests
  .badge
    a
      color: white

#links
  position: relative
  float: left
  top: -48px

.center
  text-align: center

.metas
  display: block
  color: #888
  .badge
    font-size: 80%
  table
    font-size: 70%

.card
  margin: 2px
  .card-text
    margin-top: 10px
  
.nb
  color: #999
  font-size: 75%

.error
  display: inline
  color: red

.modal-content
  background-color: rgba(0,0,0,0.5)

