.center
  text-align: center

table.title
  width: 100%
  margin-bottom: 5px
  font-size: small
  th
    background-color: #1c3a6b
    padding-left: 5px

.index-column
  td
    padding-left: 8px
    padding-top: 10px
    font-size: small

.butt
  display: inline-block
  input
    display: inline-block
    font-size: 80%
    padding: 1px 8px 0px 8px

.actions
  display: inline-block

#links
  position: relative
  top: -24px
  float: right

.links
  .button_to
    display: inline-block
  max-width: 80%


.field
  margin-bottom: 20px
  input, textarea
    display: block
    width: 80%

.liste-sujets
  margin-top: 30px
  display: block
  h4
    border-bottom: 1px solid white

