.metas
  margin-left: 5px

.liste-articles
  margin-top: 30px
  display: block
  h4
    border-bottom: 1px solid white

.sujets-enfants
  display: block
  margin-top: 30px
  h4
    border-bottom: 1px solid white

table.articles-list
  width: 100%
  font-size: small

.table-title  
  font-size: small
  background-color: #1c3a6b
  margin-bottom: 5px
  th
    padding-left: 5px

.table-title-links
  margin-bottom: 5px
  th
    padding-left: 5px

.index-column
  td
    padding-left: 8px
    padding-top: 10px
    font-size: small

.center
  text-align: center

.links
  .button_to
    display: inline-block
  max-width: 80%

.field
  margin-bottom: 20px
  input, textarea
    display: block
    width: 80%

#links
  position: relative
  top: -24px
  float: right

.category_description
  display: block
  margin-bottom: 20px

.message
  p
    font-size: 70%
    color: #999

