= content_for :title_page do
  = render partial: "categories/show/title", 
    locals: { category: @category, status: "show" }
.row
  .col-md-3
    - if @category.image.attached?
      = image_tag @category.image, class: "img-fluid"
  .col-md-2
    - if administrator?
      %p.badge.badge-primary= "#{subjects_count(@category)} Sujets"
      %p.badge.badge-success= "#{total_articles(@category)} Articles"
    - else
      %p.badge.badge-primary
        = "#{publishable_subjects_count(@category)} Sujets publiés"
      %p.badge.badge-success
        = "#{publishable_articles_count(@category)} Articles publiés"
  .col-md-7
    %p
      %b Description:
      %br
      = @category.description
.row.liste-sujets
  - if administrator?
    %h4 Liste de ses sujets
    %p.badge.badge-primary= "Sujets: #{@category.subjects.count}"
    %p.badge.badge-success= "Descendants: #{children_subjects_count(@category)}"
    %p.badge.badge-warning= "Total: #{subjects_total(@category)}"
  - else
    %h4 Liste des sujets publiés
    %p.badge.badge-primary= "Sujets publiés: #{published_own_subjects_count(@category)}"
  - if ( administrator? && subjects_total(@category) != 0 ) || ( !administrator? && c_published_subjects_total(@category) != 0 )
    = render partial: "subjects/show/index_table", 
              locals: { subjects: @category.subjects, 
                        mode: "category" }
.row
  .actions
    - if administrator?
      .butt= link_to t('edit'), 
                        edit_category_path(@category), 
                        method: :get, 
                        class: "btn btn-warning btn-sm",
                        remote: true
    = render partial: "layouts/admin/cancel"

