- content_for :title_page do
  = render partial: "categories/show/title", 
            locals: { category: @categories, 
                      status: "index" }
= render partial: "categories/show/index_table",
            locals: { categories: @categories}
%br
- if administrator?
  .butt= link_to t('new_category'), new_category_path, 
          { class: "btn btn-primary btn-sm",
            "data-toggle": "modal", "data-target": ".dialog_action_container",
            remote: true }
