%p "Welcome #{@resource.second_name.html_safe} #{@resource.familly_name.html_safe}."

%p You can confirm your account with user name as: "#{@resource.username}" through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
