%p "Hello #{ @resource.second_name } #{ @resource.familly.name}" 
%p Your actual email is: #{@email}, but you would like to change it...
- if @resource.try(:unconfirmed_email?)
  %p "We're contacting you to notify you that your email is being changed to #{ @resource.unconfirmed_email }."
- else
  %p "We're contacting you to notify you that your email has been changed to #{ @resource.email }."
