@import "variables"

.butt
  display: inline-block
  input
    font-size: 80%
    display: inline
    padding: 1px 8px 0px 8px
#links
  position: relative
  top: -24px
  float: right

table
  width: 50%
  font-size: small
  th
    background-color: $profil_table_header_bg

table, th, td
  border: 1px solid $profil_table_border_color

#roles_table
  display: block
