- currentUserRoles = user_signed_in? ? current_user.roles : nil
.nav_header.btn-group
  = button_to "Home", root_path, method: "get", 
    class: "btn btn-primary", form_class: "btn-primary"
  .btn-group.dropdown.categories_nav
    = button_to 'Navigation', navigations_index_path, method: "get",
      class: "btn btn-secondary", form_class: "btn-secondary"
    %button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split{type: 'button',
                                                                    "data-toggle": "dropdown",
                                                                    "aria-haspopup": "true",
                                                                    "aria-expended": "false"}
      %span.sr-only= 'Dropdown Toggle'
    .dropdown-menu
      = button_to "Datés", navigations_dated_path, method: "get",
      class: "btn btn-secondary", form_class: "btn-secondary"
      - if user_signed_in?
        = button_to "Non lus", navigations_unread_path, method: "get",
          class: "btn btn-secondary", form_class: "btn-secondary"
        - if (currentUserRoles.find { |r| (r[:name] == "suscriber") || (r[:name] == "admin") } )
          = button_to "Souscriptions", navigations_suscribed_path, method: "get",
                      class: "btn btn-secondary", form_class: "btn-secondary"
  - if user_signed_in? && (Article.where("published_at != ?", nil).count != 0)
    .btn-group.dropdown.articles_news_nav
      = button_to 'Derniers articles', news_articles_path, method: "get", 
        class: "btn btn-secondary", form_class: "btn-secondary"
      %button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split{type: 'button', 
                                                                      "data-toggle": "dropdown", 
                                                                      "aria-haspopup": "true", 
                                                                      "aria-expanded": "false"}
        %span.sr-only= 'Dropdown Toggle'
      .dropdown-menu
        - for article in user_topX_list
          = button_to article.title, article_path(article.id),method: "get", class: "dropdown-item"
