.log_bar
  - if user_signed_in?
    %p
      %b.username= current_user.username
      %br
      = link_to t("logout"), destroy_user_session_path, method: :delete
      %br
      = link_to t("profil"), current_user
  - else
    %p
      %b.guest= t("guest")
      %br
      = link_to t("login"), new_user_session_path, remote: true
      %br
      = link_to t("signin"), new_user_registration_path, remote: true
