!!!
%html
  %head>
    %title Aquaworks
    = Gon::Base.render_data
    = stylesheet_link_tag 'application', 
                  params[:controller], 
                  media: 'all', 
                  "data-turbolinks-track" => true
    = javascript_include_tag 'application', 
                  params[:controller],  
                  "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :css
    = yield :js

%body
  .header.container-fuild
    .row
      .col-3
        .site_title.row
          %h1 A q u a w o r k s
          #sentence om mani padme um
        %h3.title= yield :title_page
      .col-3
        - if user_signed_in?
          - if current_user.has_any_role? :suscribed, :admin, :moderator, :supervisor, :contributor
            = render partial: "layouts/admin/list_links"
      .col-3
        - if user_signed_in?
          - if current_user.has_role? :admin
            = render partial: "layouts/admin/create_links"
      .col-3
        = render partial: "layouts/user_log_bar"
    .row
      = render partial: "layouts/menu_bar"
  .container-fluid.main_content
    .notifications
      = render partial: "layouts/notifications"
    .views= yield
  .modal.fade.dialog_action_container{ tabindex: "-1", role: "dialog", "aria-hidden": "true" }
    .modal-dialog.modal-dialog-centered{ role: "document" }
      .modal-content
        .modal-header= yield :modal_header
        .modal-body= yield :modal_body
        .modal-footer= yield :modal_footer
